<div class="title">Setup</div>
<div class="form-example">
  <form [formGroup]="form">

    <mat-form-field>
      <mat-label>Scene</mat-label>
      <mat-select formControlName="scene">
        <mat-option *ngFor="let scene of scenes" [value]="scene.name">
          {{scene.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="group">
      <mat-checkbox formControlName="option1">Option 1</mat-checkbox>
      <mat-checkbox formControlName="option2">Option 2</mat-checkbox>
    </div>

    <div class="group">
      <mat-radio-group formControlName="selection">
        <mat-radio-button value="one">Option one</mat-radio-button>
        <mat-radio-button value="two">Option two</mat-radio-button>
        <mat-radio-button value="three">Option three</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="group">
      <mat-slider formControlName="level1"></mat-slider>
      <mat-slider formControlName="level2"></mat-slider>
    </div>

    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </form>
</div>
