.mat-table.center {
  width: 100%;
  margin-left:auto;
  margin-right:auto;

}

.container {
  /*overflow-x: auto;*/
  top:30%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;

}

.mat-row, .mat-header-row {
  min-width: 1000px;
  width: max-content;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}


h1 { text-align: center;}
