.mat-table.center {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: auto;

}

.container {
  text-align: center
}

.table {
  display: inline-block;

}

.mat-row, .mat-header-row {
  min-width: 1000px;
  width: max-content;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}

.dmx{
  white-space: pre-wrap;
}

.mat-icon-button {
  font-size: 20px;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}
