<div class="title">
  About
</div>
<div class="about">
  <p>
    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
  </p>
  <p>
    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
  </p>
  <p>
    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
  </p>
  <p>
    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
  </p>
  <p>
    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
  </p>
</div>
